.search-form {
    display: block;
    width: 275px;
    height: 46px;
    padding: 0;
    margin-top: 37px;
    margin-right: 30px;
    border: 1px solid #666;
    border-radius: 20px;;

    &__input {
        box-sizing: border-box;
        padding: 15px;
        border: 0;
        border-radius: 5px;
        font-size: 13px;
        background: 0 0;
    }

    &__button {
        overflow: hidden;
        width: 18px;
        height: 18px;
        margin: 15px;
        border: none;
        background: url(common.blocks/search-form/search.png) no-repeat center center / contain;
    }
}