.main-content {
    display: flex;
    height: 480px;
    background-color: #e7e7e7;
}

.main-content__poster {
    display: none;
    position: relative;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}

.main-content__poster-items {
    margin-top: 123px;
    margin-left: 70px;
    color: #232323;
}

.main-content__poster-item-one {
    position: relative;
    z-index: 100;
    font-size: 40px;
}

.main-content__poster-item-two {
    position: relative;
    z-index: 100;
    font-weight: bold;
    font-size: 80px;
    line-height: 71px;
}

.main-content__poster-item-three {
    position: relative;
    z-index: 100;
    font-weight: bold;
    font-size: 75px;
    line-height: 71px;
}

.main-content__poster-item-four {
    position: relative;
    z-index: 100;
    margin: 5px 0 0 6px;
    color: #666;
    font-size: 17px;
    line-height: 20px;
}

.main-content__img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 370px;
    height: 470px;

    &_type_one {
        background: url(common.blocks/main-content/type_one.png) no-repeat center center / contain;
    }

    &_type_two {
        background: url(common.blocks/main-content/type_two.png) no-repeat center center / contain;
    }

    &_type_three {
        background: url(common.blocks/main-content/type_three.png) no-repeat center center / contain;
        width: 695px;
        height: 485px;
    }
    &_type_four {
        background: url(common.blocks/main-content/type_four.png) no-repeat center center / contain;
    }
}

.main-content__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.main-content__item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 390px;
    height: 25%;
    background: linear-gradient(#cbcbcb, #cbcbcb), linear-gradient(#cbcbcb, #cbcbcb);
    background-position: left bottom, right bottom;
    background-size: 0 0.5px, 370px 1px;
    background-repeat: no-repeat, no-repeat;

    &_type_last {
        background-size: 0 0.5px, 370px 0;
    }
}

.main-content__item-text {
    margin-left: 60px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.main-content__number {
    display: none;
    position: absolute;
    width: 100%;
    color: #eebe98;
    font-weight: bold;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 0.2;
}

.background {
    display: flex;
    // border-bottom: none;
    color: white;
    background: url(common.blocks/main-content/bg.png) no-repeat center center / contain;
}

.active {
    display: block;
}

.active-poster {
    display: flex;
}