.main-content {
    display: flex;
    height: 480px;
    background-color: #e7e7e7;
}

.main-content__poster {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.main-content__img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 370px;
    height: 470px;
    background: url(common.blocks/main-content/type_one.png) no-repeat center center / contain;
}

.main-content__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.main-content__item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 390px;
    height: 25%;
    background: linear-gradient(#cbcbcb, #cbcbcb), linear-gradient(#cbcbcb, #cbcbcb);
    background-position: left bottom, right bottom;
    background-size: 0 0.5px, 370px 1px;
    background-repeat: no-repeat, no-repeat;

    &_type_last {
        background-size: 0 0.5px, 370px 0;
    }
}

.main-content__item-text {
    margin-left: 60px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.main-content__number {
    display: none;
    position: absolute;
    width: 100%;
    color: #eebe98;
    font-weight: bold;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 0.2;
}

.background {
    display: flex;
    // border-bottom: none;
    color: white;
    background: url(common.blocks/main-content/bg.png) no-repeat center center / contain;
}

.active {
    display: block;
}

.active-poster {
    display: flex;
}