.main-content {
    display: flex;
    height: 480px;
    background-color: #e7e7e7;
}

.main-content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-content__news-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.main-content__info-block {
    width: 390px;
    height: 25%;
    border: 1px solid black;
    background-color: aquamarine;
    // background: url(common.blocks/main-content/bg.png) no-repeat center center / contain;
}