.catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__shirts {
        display: flex;
        height: 376px;
        margin-bottom: 20px;
        background-color: ffffff;
    }

    &__hover-options {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: all 0.3s;
    }

    &__add-offer {
        display: flex;
        margin-bottom: 20px;
    }

    &__skirt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 568px;
        height: 118px;
        margin-right: 30px;
        border: 1px solid #e7e7e7;
    }

    &__skirt-block {
        display: flex;
    }

    &__skirt-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__skirt-text {
        color: #999;
        font-size: 12px;
        line-height: 24px;
    }

    &__skirt-title {
        color: #232323;
        font-size: 17px;
        line-height: 22px;
    }

    &__skirt-prices {
        display: flex;
    }

    &__skirt-price {
        margin-right: 5px;
        color: #be926f;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;

        &_type_old {
            order: -1;
            color: #999;
            text-decoration: line-through;
        }
    }

    &__denim {
        display: flex;
        justify-content: space-between;
        width: 570px;
        height: 120px;
        background-color: #e7e7e7;
    }

    &__denim-info {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 32px;
        justify-content: space-evenly;
    }

    &__denim-head {
        display: flex;
    }

    &__denim-text {
        color: #999;
        font-size: 12px;
        line-height: 24px;
        margin-left: 10px;
    }

    &__denim-title {
        color: #232323;
        font-size: 20px;
        line-height: 22px;
    }

    &__denim-price {
        color: #be926f;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }
}