.catalog {
    display: flex;
    flex-direction: column;

    .xs({
        padding: 100px 0 0 0;
    });  

    &__shirts {
        display: flex;
        height: 378px;
        margin-bottom: 20px;
        background-color: #fff;

        .xs({
            flex-wrap: wrap;
            height: 615px;
         });
    }
    
    &__hover-options {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: all 0.3s;
    }

    &__add-offer {
        display: flex;
        margin-bottom: 20px;

        .xs({
            display: flex;
            flex-wrap: wrap;
        });
    }

    &__skirt {
        .xs({
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px
        });

        .sm({
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 568px;
            height: 118px;
            margin-right: 10px;
            border: 1px solid #e7e7e7;
        });

        .xl({
            margin-right: 30px;
        });
    }

    &__img {
        .sm({
            position: relative;
            left: 38px;
        });

        .xl({
            left: 25px;
        });

        &_type {
            &_marco {
                margin-right: 1px;

                .xs({
                    margin-left: 50px;
                    margin-bottom: 30px;
                });
               
            }
            &_montana {
                margin-right: 1px;

                .xs({
                    margin-left: 50px;
                });
            }
        }
    }

    &__skirt-block {
        display: flex;

        &_type {
            &_marco {
                margin-left: -32px;
                .xs({
                    margin-left: 0;
                });
            }

            &_montana {
                margin-right: 16px;
                .xs({
                    margin-right: 0;
                }); 
            }
        }
    }

    &__skirt-info {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        margin-left: 49px;
    }

    &__skirt-text {
        position: relative;
        top: 3px;
        color: #999;
        font-size: 12px;
        line-height: 24px;
    }

    &__skirt-title {
        color: #232323;
        font-size: 17px;
        line-height: 22px;
    }

    &__skirt-prices {
        display: flex;
    }

    &__skirt-price {
        margin-right: 5px;
        color: #be926f;
        font-size: 14px;
        line-height: 24px;

        &_type_old {
            order: -1;
            margin-right: 9px;
            color: #999;
            text-decoration: line-through;
        }
    }

    &__denim {
        display: flex;
        justify-content: space-between;
        width: 570px;
        height: 120px;
        background-color: #e7e7e7;
        padding: 0 18px;
    }

    &__denim-info {
        .xs({
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-left: 15px;
            justify-content: space-evenly;
        });

        .sm({
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            margin-left: 15px;
        });

        .xl({
            margin-left: 32px;
        });
    }

    &__denim-head {
        display: flex;
    }

    &__denim-hr {
        position: relative;
        bottom: 7px;
    }

    &__denim-text {
        position: relative;
        top: -10px;
        margin-left: 10px;
        color: #999;
        font-size: 12px;
        line-height: 24px;
    }

    &__denim-title {
        .sm({
            margin-top: -5px;
            color: #232323;
            font-size: 17px;
            line-height: 22px;
        });

        .xl({
            font-size: 20px;
        });
    }

    &__denim-price {
        .xs({
            color: #be926f;
            font-weight: 700;
        });

        .sm({
            position: relative;
            top: 6px;
            left: -3px;
            color: #be926f;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
        });

        .xl({
            font-size: 16px;
        });
    }
}