.content {
    font-family: 'Montserrat', sans-serif;
    @font-face {
    font-family: 'Montserrat';
    src: url('fonts/subset-Montserrat-Regular.eot');
    src: url('fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('fonts/subset-Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }   

    .xs({
        width: 100%;
    });

    .sm({
        width: 100%;
    });

    .md({
        width: 750px;
        margin-right: auto;
        margin-left: auto;
    });

    .lg({
        width: 970px;
        margin-right: auto;
        margin-left: auto;
    });

    .xl({
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
    });
}
