@import 'font-awesome.css';
@import 'slider.css';
.header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-line__auth {
  margin-top: 51px;
  margin-left: 31.5px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1px;
}
.header-line__login {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
}
.header-line__divider {
  margin-right: 7px;
  color: #2d2d2d;
  text-decoration: none;
}
.header-line__register {
  color: #666;
  text-decoration: none;
  letter-spacing: 0.3px;
}
.logo {
  background: url(/img/logo/logo.png) no-repeat center center / contain;
}
@media only screen and (min-width: 992px) {
  .logo {
    display: block;
    width: 190px;
    height: 250px;
    margin-top: 40px;
    margin-left: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo {
    width: 167px;
    height: 49px;
  }
}
.search-form {
  width: 274px;
  height: 46px;
  margin-top: 35px;
  margin-right: 28px;
  border: 1px solid #323232;
  border-radius: 25px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 4px;
  padding-left: 25px;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  background: 0 0;
  letter-spacing: -0.3px;
}
.search-form__button {
  overflow: hidden;
  width: 18px;
  height: 18px;
  margin: 15px;
  margin-left: 9px;
  border: none;
  background: url(/img/search-form/search-form__img_type_search.png) no-repeat center center / contain;
}
.content {
  font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/subset-Montserrat-Regular.eot');
  src: url('/fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/subset-Montserrat-Regular.woff2') format('woff2'), url('/fonts/subset-Montserrat-Regular.woff') format('woff'), url('/fonts/subset-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 576px) {
  .content {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .content {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .content {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .content {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}
.header-line-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px;
}
.header {
  height: 190px;
  margin-bottom: 20px;
  background-color: #232323;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 675px;
  list-style-type: none;
}
.menu__link {
  color: #fff;
  font-weight: bold;
  font-size: 23.5px;
  text-decoration: none;
}
.menu__link_type_women {
  letter-spacing: -0.3px;
}
.menu__link_type_men {
  letter-spacing: 0.5px;
}
.menu__link_type_accessories {
  margin-right: 1px;
}
.cart {
  width: 17px;
  height: 22px;
  margin-right: 35px;
  background: url(/img/cart/cart.png) no-repeat center center / contain;
}
.burger {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  background-color: aqua;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 480px;
  margin-bottom: 20px;
  background-color: #e7e7e7;
}
.main-content__poster {
  display: none;
  position: relative;
  width: 50%;
}
.main-content__poster_type_active-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content__poster-items {
  margin-top: 123px;
  margin-left: 70px;
  color: #232323;
}
.main-content__poster-item-one {
  position: relative;
  z-index: 100;
  margin-left: -3px;
  font-size: 40px;
}
.main-content__poster-item-two {
  position: relative;
  z-index: 100;
  margin-left: 8px;
  font-weight: bold;
  font-size: 80px;
  line-height: 71px;
}
.main-content__poster-item-three {
  position: relative;
  z-index: 100;
  margin-left: -6px;
  letter-spacing: 2.1px;
  font-weight: 600;
  font-size: 73px;
  line-height: 76px;
}
.main-content__poster-item-four {
  position: relative;
  z-index: 100;
  margin-left: 3px;
  color: #666;
  letter-spacing: 0.1px;
  font-size: 17px;
  line-height: 24px;
}
.main-content__img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 400px;
  width: 370px;
  height: 470px;
}
.main-content__img_type_fashion-shirts {
  background: url(/img/main-content/main-content__img_type_fashion-shirts.png) no-repeat center center / contain;
}
.main-content__img_type_new-prints {
  display: block;
  position: absolute;
  bottom: 61px;
  left: 400px;
  width: 550px;
  height: 460px;
  background: url(/img/main-content/main-content__img_type_two.png) no-repeat center center / contain;
}
.main-content__img_type_sale {
  background: url(/img/main-content/main-content__img_type_sale.png) no-repeat center center / contain;
}
.main-content__img_type_new-swimwear {
  background: url(/img/main-content/main-content__img_type_new-swimwear.png) no-repeat center center / contain;
}
.main-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 50%;
}
.main-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 390px;
  height: 25%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#cbcbcb)), -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#cbcbcb));
  background: -webkit-linear-gradient(#cbcbcb, #cbcbcb), -webkit-linear-gradient(#cbcbcb, #cbcbcb);
  background: -o-linear-gradient(#cbcbcb, #cbcbcb), -o-linear-gradient(#cbcbcb, #cbcbcb);
  background: linear-gradient(#cbcbcb, #cbcbcb), linear-gradient(#cbcbcb, #cbcbcb);
  background-position: left bottom, right bottom;
  background-size: 0 0.5px, 370px 1px;
  background-repeat: no-repeat, no-repeat;
}
.main-content__item_type_active-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background: url(/img/main-content/main-content__type_active-bg.png) no-repeat center center / contain;
}
.main-content__item_type_last {
  background-size: 0 0.5px, 370px 0;
}
.main-content__item-text {
  margin-left: 60px;
  font-weight: 600;
  font-size: 17px;
}
.main-content__number {
  display: none;
  position: absolute;
  width: 100%;
  color: #eebe98;
  font-weight: bold;
  font-size: 120px;
  line-height: 20px;
  text-align: center;
  opacity: 0.2;
}
.main-content__number_type_active-number {
  display: block;
}
.button {
  display: block;
  z-index: 76;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  word-spacing: 1px;
  background-color: #be926f;
}
@media only screen and (max-width: 576px) {
  .button {
    width: 110px;
    height: 40px;
  }
}
@media only screen and (min-width: 576px) {
  .button {
    width: 110px;
    height: 40px;
  }
}
.button_type_main-content {
  margin-top: 33px;
}
@media only screen and (min-width: 576px) {
  .button_type_catalog {
    width: 130px;
    height: 40px;
    padding-right: 8px;
    padding-bottom: 5px;
    margin-top: 175px;
    margin-left: 1px;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
  }
}
.button_type_about-us {
  width: 110px;
  height: 40px;
  margin-bottom: 50px;
  border: 2px solid #be926f;
  letter-spacing: 0.5px;
  line-height: 36px;
  word-spacing: 3px;
  background-color: rgba(255, 255, 255, 0);
}
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog__shirts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 378px;
  margin-bottom: 20px;
  background-color: ffffff;
}
.catalog__hover-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog__add-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.catalog__skirt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 568px;
  height: 118px;
  margin-right: 30px;
  border: 1px solid #e7e7e7;
}
.catalog__img {
  position: relative;
  left: 25px;
}
.catalog__img_type_marco {
  margin-right: 1px;
}
.catalog__img_type_montana {
  margin-right: 1px;
}
.catalog__skirt-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog__skirt-block_type_marco {
  margin-left: -32px;
}
.catalog__skirt-block_type_montana {
  margin-right: 16px;
}
.catalog__skirt-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2px;
  margin-left: 49px;
}
.catalog__skirt-text {
  position: relative;
  top: 3px;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}
.catalog__skirt-title {
  color: #232323;
  font-size: 17px;
  line-height: 22px;
}
.catalog__skirt-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog__skirt-price {
  margin-right: 5px;
  color: #be926f;
  font-size: 14px;
  line-height: 24px;
}
.catalog__skirt-price_type_old {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  margin-right: 9px;
  color: #999;
  text-decoration: line-through;
}
.catalog__denim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 570px;
  height: 120px;
  background-color: #e7e7e7;
}
.catalog__denim-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin-left: 32px;
}
.catalog__denim-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog__denim-hr {
  position: relative;
  bottom: 7px;
}
.catalog__denim-text {
  position: relative;
  top: -10px;
  margin-left: 10px;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}
.catalog__denim-title {
  color: #232323;
  font-size: 20px;
  line-height: 22px;
  margin-top: -5px;
}
.catalog__denim-price {
  position: relative;
  top: 6px;
  left: -3px;
  color: #be926f;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
.catalog-column_type_for {
  border-right: 1px solid #e7e7e7;
}
.catalog-column:hover .catalog-column__title {
  z-index: 100;
  color: #be926f;
}
.catalog-column:hover .catalog__hover-options {
  opacity: 1;
}
.catalog-column__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog-column__title {
  margin-top: 25px;
  color: #232323;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}
.catalog-column__title_type_jack-jones {
  margin-left: 4px;
}
.catalog-column__subtitle {
  z-index: 20;
  margin-top: 8px;
  color: #999;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
.catalog-column__picture {
  display: block;
  position: absolute;
  top: 100px;
  z-index: -100;
}
.catalog-column__price {
  z-index: 20;
  margin-bottom: 21px;
  color: #be926f;
  font-size: 20px;
  line-height: 24px;
}
.add-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}
.add-wishlist__icon-like {
  display: block;
  width: 17px;
  margin-right: 7px;
  background: url(/img/add-wishlist/add-wishlist__img_type_like.png) no-repeat center center / contain;
}
.add-wishlist__icon-like:hover {
  background: url(/img/add-wishlist/add-wishlist__img_type_like-hover.png) no-repeat center center / contain;
}
.add-wishlist__text {
  color: #999;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
}
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 350px;
  text-align: center;
  background-color: #222;
  margin-bottom: 40px;
}
.about-us__header {
  margin-top: 44px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}
.about-us__text {
  width: 819px;
  height: 115px;
  color: #ccc;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  margin-top: -15px;
  letter-spacing: 0.15px;
}
.about-us__hr {
  position: relative;
  bottom: 5px;
}
.video-content {
  margin: 0 auto;
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
}
.contact-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 241px;
  border-top: 1px solid #e7e7e7;
  font-family: 'Montserrat';
}
.contact-types__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  height: 140px;
}
.contact-types__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  font-weight: bold;
  text-align: center;
}
.contact-types__block_type_phone {
  height: 149px;
  margin-left: 89px;
}
.contact-types__block_type_location {
  height: 149px;
  margin-top: 2px;
  margin-right: 1px;
}
.contact-types__block_type_mail {
  height: 149px;
  margin-top: 5px;
  margin-right: 103px;
}
.contact-types__icon {
  display: block;
}
.contact-types__icon_type_phone {
  width: 35px;
  height: 56px;
  background: url(/img/contact-types/contacts-types__icon_type_phone.png) no-repeat center center / contain;
}
.contact-types__icon_type_location {
  width: 34px;
  height: 49px;
  background: url(/img/contact-types/contacts-types__icon_type_location.png) no-repeat center center / contain;
}
.contact-types__icon_type_mail {
  width: 56px;
  height: 40px;
  background: url(/img/contact-types/contacts-types__icon_type_mail.png) no-repeat center center / contain;
}
.contact-types__header {
  margin-top: 2px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.contact-types__header_type_mail {
  margin-top: 10px;
}
.contact-types__phone-text {
  width: 211px;
  color: #232323;
  letter-spacing: 0.6px;
  font-size: 24px;
  line-height: 34px;
}
.contact-types__location-text {
  margin-bottom: 4px;
  margin-left: -5px;
  color: #666;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 30px;
}
.contact-types__mail-text {
  margin-bottom: 7px;
  color: #be926f;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 71px;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  line-height: 24px;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 147px;
  margin-right: -59px;
}
.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ccc;
  font-weight: bold;
}
.footer__rights-title {
  margin-left: -68px;
  letter-spacing: 0.7px;
}
.footer__rights-alignment {
  margin-left: 1px;
  letter-spacing: 0.8px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  margin-left: -117px;
  color: #999;
}
.footer .footer__icon {
  display: block;
}
.footer .footer__icon_type_fb {
  width: 9px;
  height: 19px;
  background: url(/img/footer/footer__img_type_fb.png) no-repeat center center / contain;
}
.footer .footer__icon_type_google {
  width: 18px;
  height: 18px;
  background: url(/img/footer/footer__img_type_google.png) no-repeat center center / contain;
}
.footer .footer__icon_type_tw {
  width: 19px;
  height: 16px;
  background: url(/img/footer/footer__img_type_tw.png) no-repeat center center / contain;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
