.catalog-column {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    .xs({
        width: 49%;
    });

    &_type_for {
        border-right: 1px solid #e7e7e7;
    }

    &:hover &__title {
        z-index: 100;
        color: #be926f;
    }

    &:hover .catalog__hover-options {
        opacity: 1;
    }

    &__head {
        display: flex;
        flex-direction: column;
    }

    &__img {
        .xs({
            width: 90px;
            height: 100px;
        });

        .sm({
            width: 130px;
            height: 160px;
        });

        .xl({
            width: 170px;
            height: 200px;
        });

    &_type_denim {
        .sm({
            width: 90px;
            height: 90px;
        });

        .xl({
            width: 100px;
            height: 100px;
        });
    }
    }

    &__title {
        margin-top: 25px;
        color: #232323;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        text-align: center;

        &_type_jack-jones {
            margin-left: 4px;
        }
    }

    &__subtitle {
        z-index: 20;
        margin-top: 8px;
        color: #999;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }

    &__picture {
        display: block;
        position: absolute;
        top: 100px;
        z-index: -100;
    }

    &__price {
        z-index: 20;
        margin-bottom: 21px;
        color: #be926f;
        font-size: 20px;
        line-height: 24px;
    }
}