.video-content {
    display: block;
    margin: 0 auto;
    .xs ({
        width: 95%;
        height: 300px;
    });
    .sm ({
        width: 95%;
    });
    .md ({
        width: 750px;
        margin-right: auto;
        margin-left: auto;
    });
    .lg ({
        width: 970px;
        margin-right: auto;
        margin-left: auto;
    });
    .xl ({
        width: 1170px;
        height: 575px;
        margin-right: auto;
        margin-left: auto;
    });

    object-fit: fill;
}