.header-line {
    display: flex;
    justify-content: space-between;

    &__auth {
        margin-top: 51px;
        margin-left: 31.5px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.1px;
    }

    &__login {
        margin-right: 6px;
        color: #666;
        text-decoration: none;
    }

    &__divider {
        margin-right: 7px;
        color: #2d2d2d;
        text-decoration: none;
    }

    &__register {
        color: #666;
        text-decoration: none;
        letter-spacing: 0.3px;
    }
}
