.footer {

display: flex;
justify-content: space-around;



    &__rights {

    }

    &__info {

    }

    &__text {

    }
}

.footer__social-media {
    display: flex;
}

.footer__icon {
    display: block;
    width: 25px;
    height: 25px;

    &_type_fb {
        background: url(../../src/common.blocks/footer/footer__img_type_fb.png) no-repeat center center / contain;
    }

    &_type_google {
        background: url(../../src/common.blocks/footer/footer__img_type_google.png) no-repeat center center / contain;
    }

    &_type_tw {
        background: url(../../src/common.blocks/footer/footer__img_type_tw.png) no-repeat center center / contain;
    }

}