.menu {
    .sm ({
        display: flex;
        justify-content: space-evenly;
        width: 675px;
        list-style-type: none;
    });
    .xl ({
        justify-content: space-between;
    });

    &__link {
      
        .sm ({
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
    
        });
        .xl ({
            font-size: 23.5px;
        });

        &_type {
            &_women {
                letter-spacing: -0.3px;
            }

            &_men {
                letter-spacing: 0.5px;
            }

            &_accessories {
                margin-right: 1px;
            }
        }
    }

    &__link:hover {
        color: #be926f;
    }
}
