.menu {
    display: flex;
    justify-content: space-between;
    width: 675px;
    list-style-type: none;

    &__link {
        color: #fff;
        font-weight: bold;
        font-size: 23.5px;
        text-decoration: none;

        &_type {
            &_women {
                letter-spacing: -0.3px;
            }

            &_men {
                letter-spacing: 0.5px;
            }

            &_accessories {
                margin-right: 1px;
            }
        }
    }

    &__link:hover {
        color: #be926f;
    }
}
